.options {
    display: flex;
    gap: 0.25rem;
    
    input.dictate[icon] {
        display: none;
        pointer-events: none;
        & + label.dictate[icon] {
            background-image: url('/icons/mic-off.svg');
        }
        &:checked + label.dictate[icon] {
            background-image: url('/icons/mic.svg');
        }
    }

    select {
        field-sizing: content;
    }

    [icon] {
        --padding: 0.25rem;

        box-sizing: border-box;
        padding: var(--padding);

        height: 100%;
        aspect-ratio: 1;
        
        background-size: calc(100% - var(--padding)*2);
        background-position: center;
        background-repeat: no-repeat;

        border: solid 1px black;
        border-radius: 50%;

        cursor: pointer;
        &:focus-visible {
            outline: none;
            box-shadow: 0 0 0 1.25px black;
        }
    }
}  